In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
import random
import re

In [2]:
data = pd.read_csv('./final_data/final_data.csv')
print(data.shape)
data.columns

(84432, 44)

Index(['race', 'gender', 'age', 'admission_type_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'acetohexamide',
       'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone',
       'rosiglitazone', 'acarbose', 'miglitol', 'citoglipton', 'insulin',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'target', 'self_pay',
       'medicaid/medicare', 'coverByInsurance', 'f_diag', 's_diag', 't_diag',
       'clustering3', 'clustering4', 'clustering2', 'medical_specialty_new',
       'discharge_id', 'admission_id'],
      dtype='object')

In [3]:
data = data.sort_values('target', ascending=True)

In [10]:
cat_cols = list(data.select_dtypes(include=[object]).columns)
for col in cat_cols:
    data[col] = pd.Categorical(data[col])

In [11]:
data.dtypes

race                      category
gender                    category
age                       category
admission_type_id         category
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
number_diagnoses             int64
max_glu_serum             category
A1Cresult                 category
metformin                 category
repaglinide               category
nateglinide               category
chlorpropamide            category
acetohexamide             category
glipizide                 category
glyburide                 category
tolbutamide               category
pioglitazone              category
rosiglitazone             category
acarbose                  category
miglitol                  category
citoglipton               category
insulin                   category
metformin-pioglitazone    category
change                    category
diabetesMed               category
target                       int64
self_pay                     int64
medicaid/medicare            int64
coverByInsurance             int64
f_diag                    category
s_diag                    category
t_diag                    category
clustering3                  int64
clustering4                  int64
clustering2                  int64
medical_specialty_new     category
discharge_id              category
admission_id              category
dtype: object

In [13]:
le = preprocessing.LabelEncoder()
col_to_encode = data[list(data.select_dtypes(include=['category']).columns)]
for col in col_to_encode:
    data[col] = le.fit_transform(data[col])

In [14]:
data.dtypes

race                      int32
gender                    int32
age                       int32
admission_type_id         int64
time_in_hospital          int64
num_lab_procedures        int64
num_procedures            int64
num_medications           int64
number_outpatient         int64
number_emergency          int64
number_inpatient          int64
number_diagnoses          int64
max_glu_serum             int32
A1Cresult                 int32
metformin                 int32
repaglinide               int32
nateglinide               int32
chlorpropamide            int32
acetohexamide             int32
glipizide                 int32
glyburide                 int32
tolbutamide               int32
pioglitazone              int32
rosiglitazone             int32
acarbose                  int32
miglitol                  int32
citoglipton               int32
insulin                   int32
metformin-pioglitazone    int32
change                    int32
diabetesMed               int32
target                    int64
self_pay                  int64
medicaid/medicare         int64
coverByInsurance          int64
f_diag                    int32
s_diag                    int32
t_diag                    int32
clustering3               int64
clustering4               int64
clustering2               int64
medical_specialty_new     int32
discharge_id              int32
admission_id              int32
dtype: object

In [15]:
data = data.reset_index(drop=True)

In [16]:
data[data['target'] == 0]

,race,gender,age,admission_type_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,coverByInsurance,f_diag,s_diag,t_diag,clustering3,clustering4,clustering2,medical_specialty_new,discharge_id,admission_id
0,2,1,5,1,10,45,1,23,0,0,...,1,4,16,16,0,1,1,1,8,6
1,2,0,5,1,2,39,3,12,0,0,...,0,17,11,11,2,0,0,0,0,0
2,0,1,6,0,6,45,1,22,0,0,...,0,11,4,10,2,0,0,4,0,6
3,2,0,6,5,2,72,2,19,0,0,...,0,17,5,7,2,0,0,5,0,1
4,2,0,7,5,10,56,2,24,0,0,...,0,4,4,11,2,0,0,8,4,0
5,4,0,6,2,3,35,2,10,1,0,...,0,12,16,11,0,2,0,8,0,0
6,2,1,8,0,5,51,0,17,0,0,...,0,9,4,4,0,1,1,5,5,6
7,2,0,6,2,4,63,0,27,0,1,...,0,9,9,11,1,3,1,4,0,0
8,2,1,7,2,1,38,1,3,0,0,...,0,5,3,11,0,2,0,3,0,0
9,2,1,6,0,2,33,5,16,0,2,...,0,4,4,11,0,2,0,5,0,6
10,2,0,5,5,4,64,0,12,0,0,...,0,4,4,11,2,0,0,2,0,1
11,2,1,6,0,2,35,6,15,0,2,...,0,4,4,12,1,3,1,3,0,6
12,0,0,9,2,1,29,2,11,0,0,...,0,4,12,4,2,0,0,0,0,0
13,0,0,5,0,6,53,3,30,0,0,...,0,4,11,14,0,2,0,5,0,2
14,2,1,7,2,2,34,1,29,0,0,...,0,4,11,11,0,1,1,8,0,0
15,0,1,6,0,3,43,1,18,0,2,...,0,9,10,6,2,0,0,4,9,6
16,2,1,5,2,2,29,0,12,6,0,...,0,11,10,10,0,2,0,8,0,0
17,2,0,4,1,9,23,3,15,0,0,...,0,4,4,4,2,0,0,5,0,3
18,2,0,7,0,6,61,1,10,0,0,...,0,4,4,6,1,1,1,1,0,6
19,2,0,7,2,1,4,1,15,0,0,...,0,11,10,4,2,0,0,5,0,2
20,2,1,8,2,10,50,0,25,0,0,...,0,15,15,15,0,1,1,8,2,0
21,2,1,7,0,2,37,1,4,0,0,...,1,16,16,16,2,0,0,3,0,5
22,2,0,8,2,3,24,5,27,0,0,...,0,7,11,7,0,1,1,6,0,0
23,0,1,5,1,4,14,1,10,0,0,...,1,11,6,13,0,1,1,1,0,6
24,2,0,6,0,2,31,1,15,2,0,...,0,4,11,11,1,1,1,5,8,6
25,0,0,7,0,3,38,2,10,0,0,...,1,14,3,3,1,3,1,5,5,6
26,2,1,7,0,5,58,0,14,0,0,...,1,8,9,4,0,1,1,5,5,6
27,2,1,8,0,5,38,1,6,0,0,...,0,4,3,17,2,0,0,5,1,6
28,0,0,3,0,1,4,0,23,3,1,...,1,9,17,9,0,2,0,5,0,6
29,2,0,7,1,3,44,1,10,0,0,...,0,4,8,11,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74787,2,0,6,2,7,41,2,35,2,0,...,1,16,3,11,0,1,1,5,5,0
74788,2,0,7,1,2,46,3,10,0,0,...,0,11,4,11,0,2,0,5,0,6
74789,4,1,7,2,5,37,1,27,0,0,...,0,7,11,4,0,2,1,6,5,0
74790,2,1,9,0,6,63,0,17,0,0,...,0,10,11,7,1,1,1,2,5,0
74791,2,1,5,0,6,36,1,19,0,0,...,0,14,17,11,0,2,0,5,5,6
74792,2,1,8,0,3,28,0,14,5,0,...,0,9,6,9,1,3,1,5,8,6
74793,0,0,5,2,5,1,2,26,0,0,...,0,5,6,11,2,0,0,5,0,0
74794,2,1,8,2,5,2,0,6,1,0,...,0,9,9,11,0,2,0,3,8,0
74795,2,0,7,0,1,52,0,13,1,0,...,0,4,4,4,2,2,0,3,0,6
74796,4,1,5,0,4,71,1,15,1,0,...,0,17,11,8,0,1,1,5,0,6
74797,4,0,8,2,12,55,6,32,0,0,...,0,4,6,4,1,3,1,5,3,0
74798,2,0,9,0,3,30,0,11,0,1,...,0,6,11,4,1,1,1,1,5,0
74799,4,0,5,0,4,49,0,12,0,0,...,0,9,6,14,2,0,0,3,0,6
74800,4,0,5,5,1,1,0,8,0,0,...,0,17,11,4,0,2,0,1,0,6
74801,2,0,3,0,1,58,0,13,1,0,...,1,17,11,4,1,1,1,5,0,6
74802,0,1,2,0,3,27,0,4,0,0,...,0,11,9,6,0,2,0,5,0,6
74803,4,1,6,1,2,57,5,12,0,0,...,1,4,4,4,2,0,0,2,0,0
74804,4,1,7,0,6,54,1,9,0,0,...,0,11,4,4,1,3,1,4,8,0
74805,2,1,7,5,1,45,1,11,0,0,...,0,5,11,4,2,0,0,9,0,1
74806,2,0,5,0,1,55,0,6,0,0,...,0,11,17,14,0,2,0,5,0,6
74807,2,1,6,2,1,13,6,13,0,0,...,0,4,17,4,0,2,0,0,5,0
74808,2,0,6,1,3,1,0,10,0,0,...,1,11,4,4,1,1,1,1,5,6
74809,2,0,8,4,3,26,0,9,3,0,...,0,11,4,6,0,2,1,5,5,0
74810,2,0,6,0,3,43,1,16,0,0,...,0,5,9,4,0,1,1,5,0,6
74811,0,1,4,0,4,38,0,6,0,0,...,0,4,4,11,2,0,0,3,0,6
74812,2,1,8,0,3,41,0,15,0,0,...,0,11,4,4,2,0,0,2,0,6
74813,2,1,6,0,7,70,2,28,0,0,...,0,9,6,11,0,2,0,5,0,6
74814,2,0,7,0,6,50,0,10,0,0,...,1,9,11,4,0,1,1,0,0,6
74815,2,1,6,0,2,62,2,9,0,0,...,0,17,4,4,2,0,0,3,0,6
74816,2,0,6,1,1,59,0,9,1,1,...,0,5,16,16,2,2,0,9,0,0

In [17]:
unadmitted = data[:74816]

In [18]:
unadmitted

,race,gender,age,admission_type_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,coverByInsurance,f_diag,s_diag,t_diag,clustering3,clustering4,clustering2,medical_specialty_new,discharge_id,admission_id
0,2,1,5,1,10,45,1,23,0,0,...,1,4,16,16,0,1,1,1,8,6
1,2,0,5,1,2,39,3,12,0,0,...,0,17,11,11,2,0,0,0,0,0
2,0,1,6,0,6,45,1,22,0,0,...,0,11,4,10,2,0,0,4,0,6
3,2,0,6,5,2,72,2,19,0,0,...,0,17,5,7,2,0,0,5,0,1
4,2,0,7,5,10,56,2,24,0,0,...,0,4,4,11,2,0,0,8,4,0
5,4,0,6,2,3,35,2,10,1,0,...,0,12,16,11,0,2,0,8,0,0
6,2,1,8,0,5,51,0,17,0,0,...,0,9,4,4,0,1,1,5,5,6
7,2,0,6,2,4,63,0,27,0,1,...,0,9,9,11,1,3,1,4,0,0
8,2,1,7,2,1,38,1,3,0,0,...,0,5,3,11,0,2,0,3,0,0
9,2,1,6,0,2,33,5,16,0,2,...,0,4,4,11,0,2,0,5,0,6
10,2,0,5,5,4,64,0,12,0,0,...,0,4,4,11,2,0,0,2,0,1
11,2,1,6,0,2,35,6,15,0,2,...,0,4,4,12,1,3,1,3,0,6
12,0,0,9,2,1,29,2,11,0,0,...,0,4,12,4,2,0,0,0,0,0
13,0,0,5,0,6,53,3,30,0,0,...,0,4,11,14,0,2,0,5,0,2
14,2,1,7,2,2,34,1,29,0,0,...,0,4,11,11,0,1,1,8,0,0
15,0,1,6,0,3,43,1,18,0,2,...,0,9,10,6,2,0,0,4,9,6
16,2,1,5,2,2,29,0,12,6,0,...,0,11,10,10,0,2,0,8,0,0
17,2,0,4,1,9,23,3,15,0,0,...,0,4,4,4,2,0,0,5,0,3
18,2,0,7,0,6,61,1,10,0,0,...,0,4,4,6,1,1,1,1,0,6
19,2,0,7,2,1,4,1,15,0,0,...,0,11,10,4,2,0,0,5,0,2
20,2,1,8,2,10,50,0,25,0,0,...,0,15,15,15,0,1,1,8,2,0
21,2,1,7,0,2,37,1,4,0,0,...,1,16,16,16,2,0,0,3,0,5
22,2,0,8,2,3,24,5,27,0,0,...,0,7,11,7,0,1,1,6,0,0
23,0,1,5,1,4,14,1,10,0,0,...,1,11,6,13,0,1,1,1,0,6
24,2,0,6,0,2,31,1,15,2,0,...,0,4,11,11,1,1,1,5,8,6
25,0,0,7,0,3,38,2,10,0,0,...,1,14,3,3,1,3,1,5,5,6
26,2,1,7,0,5,58,0,14,0,0,...,1,8,9,4,0,1,1,5,5,6
27,2,1,8,0,5,38,1,6,0,0,...,0,4,3,17,2,0,0,5,1,6
28,0,0,3,0,1,4,0,23,3,1,...,1,9,17,9,0,2,0,5,0,6
29,2,0,7,1,3,44,1,10,0,0,...,0,4,8,11,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74786,2,1,7,1,6,39,2,27,10,0,...,0,11,17,4,0,1,1,5,5,0
74787,2,0,6,2,7,41,2,35,2,0,...,1,16,3,11,0,1,1,5,5,0
74788,2,0,7,1,2,46,3,10,0,0,...,0,11,4,11,0,2,0,5,0,6
74789,4,1,7,2,5,37,1,27,0,0,...,0,7,11,4,0,2,1,6,5,0
74790,2,1,9,0,6,63,0,17,0,0,...,0,10,11,7,1,1,1,2,5,0
74791,2,1,5,0,6,36,1,19,0,0,...,0,14,17,11,0,2,0,5,5,6
74792,2,1,8,0,3,28,0,14,5,0,...,0,9,6,9,1,3,1,5,8,6
74793,0,0,5,2,5,1,2,26,0,0,...,0,5,6,11,2,0,0,5,0,0
74794,2,1,8,2,5,2,0,6,1,0,...,0,9,9,11,0,2,0,3,8,0
74795,2,0,7,0,1,52,0,13,1,0,...,0,4,4,4,2,2,0,3,0,6
74796,4,1,5,0,4,71,1,15,1,0,...,0,17,11,8,0,1,1,5,0,6
74797,4,0,8,2,12,55,6,32,0,0,...,0,4,6,4,1,3,1,5,3,0
74798,2,0,9,0,3,30,0,11,0,1,...,0,6,11,4,1,1,1,1,5,0
74799,4,0,5,0,4,49,0,12,0,0,...,0,9,6,14,2,0,0,3,0,6
74800,4,0,5,5,1,1,0,8,0,0,...,0,17,11,4,0,2,0,1,0,6
74801,2,0,3,0,1,58,0,13,1,0,...,1,17,11,4,1,1,1,5,0,6
74802,0,1,2,0,3,27,0,4,0,0,...,0,11,9,6,0,2,0,5,0,6
74803,4,1,6,1,2,57,5,12,0,0,...,1,4,4,4,2,0,0,2,0,0
74804,4,1,7,0,6,54,1,9,0,0,...,0,11,4,4,1,3,1,4,8,0
74805,2,1,7,5,1,45,1,11,0,0,...,0,5,11,4,2,0,0,9,0,1
74806,2,0,5,0,1,55,0,6,0,0,...,0,11,17,14,0,2,0,5,0,6
74807,2,1,6,2,1,13,6,13,0,0,...,0,4,17,4,0,2,0,0,5,0
74808,2,0,6,1,3,1,0,10,0,0,...,1,11,4,4,1,1,1,1,5,6
74809,2,0,8,4,3,26,0,9,3,0,...,0,11,4,6,0,2,1,5,5,0
74810,2,0,6,0,3,43,1,16,0,0,...,0,5,9,4,0,1,1,5,0,6
74811,0,1,4,0,4,38,0,6,0,0,...,0,4,4,11,2,0,0,3,0,6
74812,2,1,8,0,3,41,0,15,0,0,...,0,11,4,4,2,0,0,2,0,6
74813,2,1,6,0,7,70,2,28,0,0,...,0,9,6,11,0,2,0,5,0,6
74814,2,0,7,0,6,50,0,10,0,0,...,1,9,11,4,0,1,1,0,0,6
74815,2,1,6,0,2,62,2,9,0,0,...,0,17,4,4,2,0,0,3,0,6

In [19]:
admitted = data[74817:]

In [22]:
admitted

,race,gender,age,admission_type_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,coverByInsurance,f_diag,s_diag,t_diag,clustering3,clustering4,clustering2,medical_specialty_new,discharge_id,admission_id
74817,2,1,7,0,11,57,3,22,1,1,...,0,14,10,4,0,2,0,5,8,6
74818,2,0,6,0,12,74,1,23,0,0,...,0,4,5,4,2,0,0,1,0,6
74819,2,1,7,0,1,44,0,17,2,3,...,0,4,4,11,1,3,1,5,2,6
74820,2,1,4,2,1,45,1,9,0,0,...,0,4,10,10,2,0,0,9,0,0
74821,0,1,7,0,3,43,0,19,0,1,...,0,9,11,4,2,0,0,3,5,4
74822,2,0,9,1,3,46,0,7,0,0,...,0,9,9,11,1,3,1,1,5,6
74823,2,1,5,2,1,10,6,12,0,0,...,1,4,4,17,0,1,1,5,0,0
74824,2,1,3,1,4,54,0,27,0,13,...,0,9,15,3,1,1,1,1,0,6
74825,0,0,6,0,8,37,0,24,0,0,...,0,6,6,13,2,2,0,3,8,6
74826,0,0,6,0,8,57,0,15,0,0,...,0,6,11,4,0,2,0,5,8,6
74827,2,0,7,0,9,89,0,15,0,0,...,0,6,11,15,0,1,1,5,0,6
74828,2,0,6,0,1,32,0,6,0,0,...,0,5,9,4,2,0,0,3,0,0
74829,0,0,6,0,2,40,0,17,0,0,...,0,17,6,15,2,0,0,2,1,6
74830,2,1,8,1,4,55,0,21,0,0,...,0,4,9,9,2,0,0,3,8,6
74831,2,0,9,0,5,61,1,11,0,0,...,1,14,12,4,0,2,0,5,5,6
74832,2,1,6,0,5,54,5,25,0,1,...,1,13,4,6,0,2,0,5,0,6
74833,0,0,6,0,1,46,0,7,0,0,...,0,11,4,9,2,0,0,3,0,5
74834,2,0,6,2,3,52,1,17,0,0,...,0,7,4,4,2,0,0,5,7,0
74835,2,0,8,0,4,37,2,22,0,0,...,0,14,14,12,2,0,0,5,5,7
74836,2,1,2,2,2,64,0,7,0,0,...,1,11,11,11,0,2,0,5,0,0
74837,2,1,4,0,7,49,6,38,0,0,...,0,4,11,11,2,0,0,5,0,6
74838,2,0,7,4,7,10,3,26,3,0,...,0,4,9,4,2,0,0,9,5,1
74839,2,1,6,0,8,31,1,15,4,2,...,1,4,9,6,0,1,1,5,0,6
74840,2,1,8,0,7,68,1,16,1,0,...,0,4,6,11,0,2,0,5,8,6
74841,0,0,4,2,7,34,1,34,0,0,...,0,8,11,8,0,2,0,8,0,0
74842,2,1,4,0,3,1,0,11,0,0,...,0,8,17,15,1,3,1,1,2,6
74843,2,1,4,0,5,50,2,29,1,1,...,0,17,11,11,0,2,0,5,0,6
74844,2,1,4,1,4,31,0,13,0,0,...,0,4,10,11,2,0,0,9,0,0
74845,2,0,3,0,7,52,1,22,0,0,...,0,5,12,11,0,2,0,5,8,6
74846,2,0,6,2,3,27,2,11,0,0,...,0,9,11,4,0,2,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84402,0,1,5,1,6,37,1,20,0,0,...,0,4,11,10,2,0,0,5,0,2
84403,2,1,7,0,2,46,0,18,0,1,...,0,11,11,4,0,2,0,3,0,6
84404,2,1,8,0,6,42,1,21,1,0,...,0,14,4,3,0,2,0,5,5,6
84405,2,0,7,0,5,42,2,21,0,0,...,0,4,9,11,0,2,0,5,0,6
84406,0,0,6,2,5,50,2,13,0,0,...,0,5,12,5,1,3,1,3,0,0
84407,0,1,8,0,3,44,0,8,0,0,...,1,4,11,15,2,0,0,3,0,5
84408,2,1,8,2,6,21,0,15,0,0,...,0,11,4,4,2,0,0,2,1,3
84409,2,0,5,0,2,32,3,23,0,0,...,0,7,7,7,0,2,0,5,0,6
84410,2,0,7,7,1,52,1,10,0,0,...,0,11,4,11,2,0,0,5,0,6
84411,2,1,7,2,8,22,5,15,0,0,...,0,4,4,4,2,0,0,5,1,3
84412,2,1,3,5,8,103,1,28,0,0,...,0,7,11,4,2,0,0,2,8,1
84413,2,1,8,1,4,60,1,30,0,0,...,0,13,6,14,0,2,0,2,5,0
84414,2,0,7,1,3,33,2,11,0,0,...,0,5,4,4,0,2,0,2,0,0
84415,2,0,9,0,4,63,2,12,1,1,...,1,11,5,4,1,1,1,5,0,6
84416,2,1,4,0,2,47,0,11,0,0,...,1,17,11,4,2,0,0,3,0,6
84417,2,1,7,0,6,73,2,18,0,0,...,0,4,6,4,2,0,0,2,0,6
84418,2,0,8,5,6,59,1,16,9,0,...,0,4,4,6,2,2,0,4,0,1
84419,2,0,8,2,2,53,1,12,6,0,...,0,7,3,4,2,0,0,5,5,0
84420,2,0,8,0,11,73,0,19,0,0,...,0,6,11,3,2,0,0,2,5,6
84421,2,1,8,1,3,78,0,17,0,2,...,0,6,11,4,1,3,1,1,8,5
84422,2,0,7,0,10,70,5,23,0,0,...,0,4,4,9,2,0,0,5,0,6
84423,0,1,4,1,11,81,4,47,0,0,...,0,11,6,6,2,0,0,5,0,0
84424,2,0,6,2,5,15,1,15,0,0,...,0,16,9,11,0,2,0,8,0,0
84425,2,0,7,0,12,83,3,26,0,0,...,0,6,4,16,0,2,0,5,5,6
84426,2,1,6,1,2,1,1,5,0,0,...,0,7,11,0,0,2,0,1,0,6
84427,2,1,6,0,5,55,0,7,0,0,...,1,4,4,17,0,2,0,5,3,6
84428,2,1,6,0,7,35,6,34,1,0,...,0,4,9,0,0,2,0,5,9,6
84429,2,1,6,0,1,21,0,13,0,0,...,0,15,11,9,0,1,1,5,2,6
84430,2,0,7,1,4,1,1,14,0,0,...,0,8,4,11,0,2,0,1,5,6
84431,2,0,5,1,9,33,0,11,1,0,...,1,8,16,16,1,3,1,8,8,0

In [23]:
holdout1 = unadmitted.sample(frac = 0.15)

In [24]:
data1 = unadmitted.drop(holdout1.index)

In [25]:
data1.shape

(63594, 44)

In [26]:
unadmitted.shape

(74816, 44)

In [27]:
holdout1.shape

(11222, 44)

In [28]:
holdout2 = admitted.sample(frac = 0.15)

In [29]:
admitted.shape

(9615, 44)

In [30]:
data2 = admitted.drop(holdout2.index)

In [31]:
data2.shape

(8173, 44)

In [32]:
holdout2.shape

(1442, 44)

In [33]:
holdout = holdout1.append(holdout2, ignore_index = True)

In [34]:
holdout = holdout.sample(frac=1).reset_index(drop=True)

In [35]:
new_data = data1.append(data2, ignore_index = True)

In [36]:
new_data = new_data.sample(frac=1).reset_index(drop=True)

In [122]:
#holdout = holdout.drop('Unnamed: 0', axis = 1)

In [123]:
#new_data = new_data.drop('Unnamed: 0', axis = 1)

In [38]:
holdout.to_csv('./final_data/holdout.csv')

In [42]:
new_data.to_csv('./final_data/new_data.csv')

In [40]:
holdout.shape

(12664, 44)

In [41]:
new_data.shape

(71767, 44)

#====================clean up holdout

In [61]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
import random
import re

In [62]:
holdout = pd.read_csv('./dataForTeammates/holdout.csv')
print(holdout.shape)
holdout.columns

(15265, 55)

Index(['Unnamed: 0', 'encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'number_diagnoses',
       'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'target', 'self_pay',
       'medicaid/medicare', 'coverByInsurance', 'f_diag', 's_diag', 't_diag',
       'clustering3', 'clustering4', 'clustering2'],
      dtype='object')

In [63]:
holdout.dtypes

Unnamed: 0                   int64
encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
target                       int64
self_pay                     int64
medicaid/medicare            int64
coverByInsurance             int64
f_diag                      object
s_diag                      object
t_diag                      object
clustering3                  int64
clustering4                  int64
clustering2                  int64
dtype: object

In [64]:
holdout = holdout.drop(['Unnamed: 0','encounter_id', 'patient_nbr'], axis = 1)

In [65]:
dead_ids = [11, 13, 14, 19,20,21]
holdout = holdout[~holdout['discharge_disposition_id'].isin(dead_ids)]

In [66]:
holdout['admission_type_id'] = holdout['admission_type_id'].astype(str)
holdout['discharge_disposition_id'] = holdout['discharge_disposition_id'].astype(str)
holdout['admission_source_id'] = holdout['admission_source_id'].astype(str)

In [67]:
top10_medical = ['No', 'InternalMedicine', 'Emergency/Trauma','Family/GeneralPractice','Cardiology','Surgery-General','Nephrology','Orthopedics','Orthopedics-Reconstructive']

In [68]:
holdout.dtypes

race                        object
gender                      object
age                         object
admission_type_id           object
discharge_disposition_id    object
admission_source_id         object
time_in_hospital             int64
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
target                       int64
self_pay                     int64
medicaid/medicare            int64
coverByInsurance             int64
f_diag                      object
s_diag                      object
t_diag                      object
clustering3                  int64
clustering4                  int64
clustering2                  int64
dtype: object

In [69]:
holdout['medical_specialty_new'] = holdout['medical_specialty'].copy()

In [70]:
holdout.loc[~holdout['medical_specialty_new'].isin(top10_medical), 'medical_specialty_new'] = 'Other'
holdout = holdout.drop('medical_specialty', axis = 1)

In [71]:
holdout.medical_specialty_new.value_counts()

No                            7276
InternalMedicine              2171
Other                         1444
Emergency/Trauma              1120
Family/GeneralPractice        1072
Cardiology                     784
Surgery-General                460
Nephrology                     220
Orthopedics-Reconstructive     182
Orthopedics                    181
Name: medical_specialty_new, dtype: int64

In [72]:
holdout['discharge_id'] = holdout['discharge_disposition_id'].copy()
top10_discharge = ['1', '3', '6','18','2','22','5','25','4']
holdout.loc[~holdout['discharge_id'].isin(top10_discharge), 'discharge_id'] = 'Other'
holdout = holdout.drop('discharge_disposition_id', axis = 1)

In [73]:
holdout.discharge_id.value_counts()

1        8954
3        2081
6        2021
18        590
2         313
22        286
Other     233
5         180
25        146
4         106
Name: discharge_id, dtype: int64

In [74]:
holdout['admission_id'] = holdout['admission_source_id'].copy()
top10_admission = ['7', '1', '17','4','6','2','5']
holdout.loc[~holdout['admission_id'].isin(top10_admission), 'admission_id'] = 'Other'
holdout = holdout.drop('admission_source_id', axis = 1)

In [75]:
holdout.dtypes

race                        object
gender                      object
age                         object
admission_type_id           object
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
target                       int64
self_pay                     int64
medicaid/medicare            int64
coverByInsurance             int64
f_diag                      object
s_diag                      object
t_diag                      object
clustering3                  int64
clustering4                  int64
clustering2                  int64
medical_specialty_new       object
discharge_id                object
admission_id                object
dtype: object

In [76]:
holdout.shape

(14910, 52)

In [77]:
holdout.to_csv('last_holdout.csv', index = False)