In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn import ensemble
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pickle

data=pd.read_csv('../../../Sherry-K/data/new_data.csv')

In [136]:
X = data.copy()

In [137]:
print(X.shape)
X.head()

(86500, 55)

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,target,self_pay,medicaid/medicare,coverByInsurance,f_diag,s_diag,t_diag,clustering3,clustering4,clustering2
0,0,220288932,32885451,Caucasian,Male,[50-60),2,6,7,10,...,0,0,0,1,diseases of the circulatory system,neoplasms,neoplasms,0,1,1
1,1,18126858,4788405,Caucasian,Male,[50-60),1,1,7,5,...,0,0,0,0,diseases of the circulatory system,diseases of the circulatory system,diseases of the respiratory system,2,0,0
2,2,21616398,1660293,Caucasian,Female,[60-70),1,1,7,3,...,0,0,0,0,diseases of the digestive system,diseases of the digestive system,"endocrine, nutritional and metabolic diseases,...",2,0,0
3,3,30596088,79713063,Caucasian,Female,[70-80),1,3,7,5,...,0,0,0,0,"endocrine, nutritional and metabolic diseases,...","endocrine, nutritional and metabolic diseases,...",diseases of the genitourinary system,2,0,0
4,4,203180148,103254777,AfricanAmerican,Male,[30-40),1,6,7,10,...,0,0,1,0,diseases of the circulatory system,diseases of the genitourinary system,"endocrine, nutritional and metabolic diseases,...",0,1,1

In [138]:
## dropping id features not to be used in model
X = X.drop(['Unnamed: 0','encounter_id', 'patient_nbr'], axis = 1)

## removing rows with deceased patients based on discharge id
dead_ids = [11, 13, 14, 19,20,21]
X = X[~X['discharge_disposition_id'].isin(dead_ids)]

In [139]:
## converting id features to categorical
X['admission_type_id'] = X['admission_type_id'].astype(str)
X['discharge_disposition_id'] = X['discharge_disposition_id'].astype(str)
X['admission_source_id'] = X['admission_source_id'].astype(str)

In [140]:
X.dtypes

race                        object
gender                      object
age                         object
admission_type_id           object
discharge_disposition_id    object
admission_source_id         object
time_in_hospital             int64
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
target                       int64
self_pay                     int64
medicaid/medicare            int64
coverByInsurance             int64
f_diag                      object
s_diag                      object
t_diag                      object
clustering3                  int64
clustering4                  int64
clustering2                  int64
dtype: object

In [141]:
X['medical_specialty_new'] = X['medical_specialty'].copy()

In [142]:
top10_medical = ['No', 'InternalMedicine', 'Emergency/Trauma','Family/GeneralPractice','Cardiology','Surgery-General','Nephrology','Orthopedics','Orthopedics-Reconstructive']

In [143]:
X.loc[~X['medical_specialty_new'].isin(top10_medical), 'medical_specialty_new'] = 'Other'
X = X.drop('medical_specialty', axis = 1)

In [144]:
X.medical_specialty_new.value_counts()

No                            41340
InternalMedicine              12066
Other                          7876
Emergency/Trauma               6299
Family/GeneralPractice         6179
Cardiology                     4495
Surgery-General                2599
Nephrology                     1319
Orthopedics                    1211
Orthopedics-Reconstructive     1048
Name: medical_specialty_new, dtype: int64

In [145]:
data.medical_specialty.value_counts()

No                                      42471
InternalMedicine                        12408
Emergency/Trauma                         6429
Family/GeneralPractice                   6337
Cardiology                               4554
Surgery-General                          2635
Nephrology                               1384
Orthopedics                              1219
Orthopedics-Reconstructive               1051
Radiologist                               974
Pulmonology                               735
Psychiatry                                720
Urology                                   581
ObstetricsandGynecology                   575
Surgery-Cardiovascular/Thoracic           559
Gastroenterology                          468
Surgery-Vascular                          459
Surgery-Neuro                             393
PhysicalMedicineandRehabilitation         338
Oncology                                  298
Pediatrics                                207
Hematology/Oncology                       168
Neurology                                 166
Pediatrics-Endocrinology                  133
Otolaryngology                            110
Endocrinology                             104
Surgery-Thoracic                           89
Surgery-Cardiovascular                     85
Podiatry                                   84
Psychology                                 81
                                        ...
Obstetrics                                 19
Obsterics&Gynecology-GynecologicOnco       18
Anesthesiology-Pediatric                   17
Rheumatology                               15
Pathology                                  13
Surgery-Colon&Rectal                       11
Anesthesiology                             10
Surgery-Maxillofacial                      10
OutreachServices                            9
PhysicianNotFound                           9
Pediatrics-Neurology                        8
Surgery-Pediatric                           7
Endocrinology-Metabolism                    6
Cardiology-Pediatric                        5
Psychiatry-Child/Adolescent                 5
AllergyandImmunology                        5
DCPTEAM                                     4
Dentistry                                   4
Pediatrics-Hematology-Oncology              3
Pediatrics-EmergencyMedicine                2
Pediatrics-AllergyandImmunology             2
Resident                                    2
Surgery-PlasticwithinHeadandNeck            1
Proctology                                  1
Neurophysiology                             1
Speech                                      1
Perinatology                                1
Dermatology                                 1
Psychiatry-Addictive                        1
Pediatrics-InfectiousDiseases               1
Name: medical_specialty, Length: 72, dtype: int64

In [146]:
X['discharge_id'] = X['discharge_disposition_id'].copy()
top10_discharge = ['1', '3', '6','18','2','22','5','25','4']
X.loc[~X['discharge_id'].isin(top10_discharge), 'discharge_id'] = 'Other'
X = X.drop('discharge_disposition_id', axis = 1)

In [147]:
X.discharge_id.value_counts()

1        51279
3        11873
6        10881
18        3101
2         1815
22        1707
Other     1220
5         1004
25         843
4          709
Name: discharge_id, dtype: int64

In [148]:
X['admission_id'] = X['admission_source_id'].copy()
top10_admission = ['7', '1', '17','4','6','2','5']
X.loc[~X['admission_id'].isin(top10_admission), 'admission_id'] = 'Other'
X = X.drop('admission_source_id', axis = 1)

In [149]:
for x in list(X.columns):
    print(X[x].value_counts())

Caucasian          63151
AfricanAmerican    15906
Other               3137
Hispanic            1704
Asian                534
Name: race, dtype: int64
Female             45416
Male               39013
Unknown/Invalid        3
Name: gender, dtype: int64
[70-80)     21482
[60-70)     18815
[50-60)     14512
[80-90)     13917
[40-50)      8133
[30-40)      3215
[90-100)     2235
[20-30)      1399
[10-20)       583
[0-10)        141
Name: age, dtype: int64
1    44490
3    15877
2    15481
6     4382
5     3910
8      267
7       16
4        9
Name: admission_type_id, dtype: int64
3     14856
2     14429
1     11751
4     11573
5      8253
6      6238
7      4840
8      3621
9      2463
10     1923
11     1502
12     1177
13      956
14      850
Name: time_in_hospital, dtype: int64
1      2676
43     2334
44     2110
45     1975
38     1878
40     1828
46     1822
41     1778
47     1762
39     1757
42     1745
37     1737
48     1706
49     1692
36     1653
50     1613
35     1589
51     1587
54     1572
55     1521
56     1502
52     1489
53     1488
57     1436
58     1411
34     1391
61     1349
59     1336
60     1327
63     1211
       ...
88       78
89       62
87       60
90       56
91       51
93       45
94       36
92       36
95       31
97       23
96       23
98       17
100       9
102       6
101       6
106       5
103       5
99        4
113       3
105       3
109       3
104       3
111       2
107       1
132       1
126       1
118       1
129       1
121       1
108       1
Name: num_lab_procedures, Length: 116, dtype: int64
0    38844
1    17189
2    10483
3     7826
6     4110
4     3449
5     2531
Name: num_procedures, dtype: int64
13    5096
12    5012
15    4845
11    4833
14    4714
16    4513
10    4454
9     4111
17    4052
18    3755
8     3616
19    3409
20    3047
7     2907
21    2680
22    2389
6     2263
23    1976
24    1739
5     1660
25    1537
26    1311
27    1186
4     1179
28    1015
29     814
3      751
30     699
31     592
32     501
      ...
46      76
45      70
47      56
49      53
48      50
52      48
50      41
51      37
53      36
56      31
55      30
54      25
57      22
58      22
60      22
59      15
62      14
63      12
61      12
65      10
67       7
68       6
64       6
66       4
69       3
70       2
72       2
74       1
75       1
79       1
Name: num_medications, Length: 74, dtype: int64
0     70465
1      7122
2      3021
3      1694
4       918
5       448
6       243
7       131
8        82
9        68
10       47
11       37
12       24
14       24
13       23
15       18
16       12
17        8
21        6
18        5
20        5
22        5
24        3
36        2
23        2
26        2
27        2
19        2
29        2
33        2
35        2
40        1
39        1
38        1
28        1
34        1
25        1
42        1
Name: number_outpatient, dtype: int64
0     74933
1      6382
2      1709
3       624
4       309
5       163
6        83
7        60
8        42
10       31
9        25
11       18
13       10
12        8
20        4
22        4
16        4
18        4
15        3
14        3
25        2
21        2
19        1
76        1
24        1
54        1
28        1
29        1
46        1
64        1
63        1
Name: number_emergency, dtype: int64
0     56310
1     16108
2      6247
3      2771
4      1337
5       685
6       388
7       225
8       117
9        90
10       50
11       40
12       26
13       14
15        9
14        7
16        4
19        1
17        1
18        1
21        1
Name: number_inpatient, dtype: int64
9     40692
5      9615
8      8795
7      8675
6      8441
4      4645
3      2426
2       862
1       193
16       37
10       13
13       12
15        9
11        7
14        5
12        5
Name: number_diagnoses, dtype: int64
None    80042
Norm     2180
>200     1209
>300     1001
Name: max_glu_serum, dtype: int64
None    70117
>8       6919
Norm     4204
>7       3192
Name: A1Cresult, dtype: int64
No        67641
Steady    15427
Up          891
Down        473
Name: metformin, dtype: int64
No        83119
Steady     1188
Up           92
Down         33
Name: repaglinide, dtype: int64
No        83848
Steady      553
Up           20
Down         11
Name: nateglinide, dtype: int64
No        84361
Steady       66
Up            4
Down          1
Name: chlorpropamide, dtype: int64
No        80087
Steady     3915
Up          270
Down        160
Name: glimepiride, dtype: int64
No        84431
Steady        1
Name: acetohexamide, dtype: int64
No        73783
Steady     9534
Up          649
Down        466
Name: glipizide, dtype: int64
No        75526
Steady     7760
Up          682
Down        464
Name: glyburide, dtype: int64
No        84416
Steady       16
Name: tolbutamide, dtype: int64
No        78246
Steady     5888
Up          200
Down         98
Name: pioglitazone, dtype: int64
No        79097
Steady     5128
Up          138
Down         69
Name: rosiglitazone, dtype: int64
No        84173
Steady      248
Up            8
Down          3
Name: acarbose, dtype: int64
No        84401
Steady       25
Down          4
Up            2
Name: miglitol, dtype: int64
No        84429
Steady        3
Name: troglitazone, dtype: int64
No        84401
Steady       30
Up            1
Name: tolazamide, dtype: int64
No    84432
Name: examide, dtype: int64
No    84432
Name: citoglipton, dtype: int64
No        39457
Steady    25525
Down      10076
Up         9374
Name: insulin, dtype: int64
No        83833
Steady      587
Up            7
Down          5
Name: glyburide-metformin, dtype: int64
No        84421
Steady       11
Name: glipizide-metformin, dtype: int64
No        84431
Steady        1
Name: glimepiride-pioglitazone, dtype: int64
No        84430
Steady        2
Name: metformin-rosiglitazone, dtype: int64
No        84431
Steady        1
Name: metformin-pioglitazone, dtype: int64
No    45231
Ch    39201
Name: change, dtype: int64
Yes    65147
No     19285
Name: diabetesMed, dtype: int64
0    74817
1     9615
Name: target, dtype: int64
0    80269
1     4163
Name: self_pay, dtype: int64
0    54840
1    29592
Name: medicaid/medicare, dtype: int64
0    67226
1    17206
Name: coverByInsurance, dtype: int64
diseases of the circulatory system                                       25248
endocrine, nutritional and metabolic diseases, and immunity disorders     9637
diseases of the respiratory system                                        8377
diseases of the digestive system                                          7716
symptoms, signs, and ill-defined conditions                               6433
injury and poisoning                                                      5805
diseases of the musculoskeletal system and connective tissue              4223
diseases of the genitourinary system                                      4216
neoplasms                                                                 2651
infectious and parasitic diseases                                         2178
diseases of the skin and subcutaneous tissue                              2110
mental disorders                                                          1886
external causes of injury and supplemental classification                 1413
diseases of the nervous system and sense organs                            980
diseases of the blood and blood-forming organs                             918
complications of pregnancy, childbirth, and the puerperium                 585
congenital anomalies                                                        39
No Diagnosis                                                                17
Name: f_diag, dtype: int64
diseases of the circulatory system                                       26142
endocrine, nutritional and metabolic diseases, and immunity disorders    17595
diseases of the respiratory system                                        8272
diseases of the genitourinary system                                      6567
symptoms, signs, and ill-defined conditions                               3816
diseases of the digestive system                                          3309
diseases of the skin and subcutaneous tissue                              2989
diseases of the blood and blood-forming organs                            2425
mental disorders                                                          2249
external causes of injury and supplemental classification                 2149
neoplasms                                                                 2006
injury and poisoning                                                      2004
infectious and parasitic diseases                                         1581
diseases of the musculoskeletal system and connective tissue              1514
diseases of the nervous system and sense organs                           1059
complications of pregnancy, childbirth, and the puerperium                 351
No Diagnosis                                                               313
congenital anomalies                                                        91
Name: s_diag, dtype: int64
diseases of the circulatory system                                       24885
endocrine, nutritional and metabolic diseases, and immunity disorders    21971
diseases of the respiratory system                                        5463
diseases of the genitourinary system                                      5196
external causes of injury and supplemental classification                 4289
symptoms, signs, and ill-defined conditions                               3711
diseases of the digestive system                                          2992
mental disorders                                                          2617
diseases of the skin and subcutaneous tissue                              2085
diseases of the blood and blood-forming organs                            2068
diseases of the musculoskeletal system and connective tissue              1617
injury and poisoning                                                      1594
infectious and parasitic diseases                                         1558
diseases of the nervous system and sense organs                           1440
neoplasms                                                                 1396
No Diagnosis                                                              1200
complications of pregnancy, childbirth, and the puerperium                 271
congenital anomalies                                                        79
Name: t_diag, dtype: int64
0    35523
2    31932
1    16977
Name: clustering3, dtype: int64
0    29446
2    29277
1    17366
3     8343
Name: clustering4, dtype: int64
0    57273
1    27159
Name: clustering2, dtype: int64
No                            41340
InternalMedicine              12066
Other                          7876
Emergency/Trauma               6299
Family/GeneralPractice         6179
Cardiology                     4495
Surgery-General                2599
Nephrology                     1319
Orthopedics                    1211
Orthopedics-Reconstructive     1048
Name: medical_specialty_new, dtype: int64
1        51279
3        11873
6        10881
18        3101
2         1815
22        1707
Other     1220
5         1004
25         843
4          709
Name: discharge_id, dtype: int64
7        47487
1        24848
17        5540
4         2633
6         1912
2          903
5          682
Other      427
Name: admission_id, dtype: int64

In [150]:
to_standardize = list(X.select_dtypes(include=['int']).columns)
to_standardize = to_standardize[0:8]

In [151]:
to_standardize

['time_in_hospital',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'number_diagnoses']

In [152]:
X.dtypes

race                        object
gender                      object
age                         object
admission_type_id           object
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
target                       int64
self_pay                     int64
medicaid/medicare            int64
coverByInsurance             int64
f_diag                      object
s_diag                      object
t_diag                      object
clustering3                  int64
clustering4                  int64
clustering2                  int64
medical_specialty_new       object
discharge_id                object
admission_id                object
dtype: object

In [153]:
## dropping columns with medications that do have few changes
X = X.drop(['glimepiride','acetohexamide','citoglipton','examide','tolazamide','examide','glyburide-metformin','glipizide-metformin','glimepiride-pioglitazone','metformin-rosiglitazone','metformin-pioglitazone','troglitazone', 'change', 'diabetesMed'], axis = 1)

In [154]:
X.dtypes

race                     object
gender                   object
age                      object
admission_type_id        object
time_in_hospital          int64
num_lab_procedures        int64
num_procedures            int64
num_medications           int64
number_outpatient         int64
number_emergency          int64
number_inpatient          int64
number_diagnoses          int64
max_glu_serum            object
A1Cresult                object
metformin                object
repaglinide              object
nateglinide              object
chlorpropamide           object
glipizide                object
glyburide                object
tolbutamide              object
pioglitazone             object
rosiglitazone            object
acarbose                 object
miglitol                 object
insulin                  object
target                    int64
self_pay                  int64
medicaid/medicare         int64
coverByInsurance          int64
f_diag                   object
s_diag                   object
t_diag                   object
clustering3               int64
clustering4               int64
clustering2               int64
medical_specialty_new    object
discharge_id             object
admission_id             object
dtype: object

In [155]:
X.to_csv('final_data.csv', index = False)

In [156]:
X.dtypes

race                     object
gender                   object
age                      object
admission_type_id        object
time_in_hospital          int64
num_lab_procedures        int64
num_procedures            int64
num_medications           int64
number_outpatient         int64
number_emergency          int64
number_inpatient          int64
number_diagnoses          int64
max_glu_serum            object
A1Cresult                object
metformin                object
repaglinide              object
nateglinide              object
chlorpropamide           object
glipizide                object
glyburide                object
tolbutamide              object
pioglitazone             object
rosiglitazone            object
acarbose                 object
miglitol                 object
insulin                  object
target                    int64
self_pay                  int64
medicaid/medicare         int64
coverByInsurance          int64
f_diag                   object
s_diag                   object
t_diag                   object
clustering3               int64
clustering4               int64
clustering2               int64
medical_specialty_new    object
discharge_id             object
admission_id             object
dtype: object

In [131]:
cat_change = ['clustering3', 'clustering4', 'clustering2', 'self_pay', 'medicaid/medicare','coverByInsurance', 'target']

In [132]:
for cat in cat_change:
    X[cat] = X[cat].astype(str)

In [133]:
col_num = list(X.select_dtypes(include = int).columns)

In [134]:
X.shape

(84432, 39)

In [178]:
scaler = StandardScaler()
scaler.fit(X.select_dtypes(include = int))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [179]:
scalerfile = 'scaler.sav'
pickle.dump(scaler, open(scalerfile, 'wb'))

In [180]:
scaler = pickle.load(open(scalerfile, 'rb'))

In [187]:
X_standard = X.select_dtypes(include = int)
X_standard = scaler.transform(X_standard)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

In [188]:
X_standard

array([[ 1.89580349,  0.10834242, -0.1966791 , ..., -0.21289213,
         1.09342471,  0.82238937],
       [ 0.21067677, -0.19761845,  1.56292913, ..., -0.21289213,
        -0.50213764,  0.82238937],
       [-0.46337392,  0.21032937, -0.78321517, ..., -0.21289213,
         3.48676824,  0.82238937],
       ...,
       [ 2.23282884,  1.43417284, -0.1966791 , ..., -0.21289213,
        -0.50213764,  0.82238937],
       [-0.80039927, -0.19761845, -0.78321517, ..., -0.21289213,
        -0.50213764, -2.78175906],
       [-0.80039927,  0.46529676, -0.78321517, ..., -0.21289213,
        -0.50213764, -1.23712402]])