In [1]:
%matplotlib inline
import numpy  as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('./diabetic_data.csv')
data1 = pd.read_csv('./IDs_mapping.csv')

In [8]:
data.shape

(101766, 50)

In [9]:
data1.shape

(67, 2)

In [76]:
data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [11]:
data1.columns

Index(['admission_type_id', 'description'], dtype='object')

In [84]:
data2 = data1[0:9]
data3 = data1[10:41]
data4 = data1[42:67]
data3 = data3.rename(index=str, columns={"admission_type_id":"discharge_disposition_id"})
data3
data4 = data4.rename(index=str, columns={"admission_type_id":"admission_source_id"})
data2

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available
5                 6            NaN
6                 7  Trauma Center
7                 8     Not Mapped
8               NaN            NaN

In [73]:
for i in range(0,67):
    if type(data1['admission_type_id'][i]) == str:
        if len(data1['admission_type_id'][i]) > 2:
            print(i)

9
41

KeyError: 67

In [14]:
data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [27]:
data1.head

<bound method NDFrame.head of            admission_type_id  \
0                          1
1                          2
2                          3
3                          4
4                          5
5                          6
6                          7
7                          8
8                        NaN
9   discharge_disposition_id
10                         1
11                         2
12                         3
13                         4
14                         5
15                         6
16                         7
17                         8
18                         9
19                        10
20                        11
21                        12
22                        13
23                        14
24                        15
25                        16
26                        17
27                        18
28                        19
29                        20
..                       ...
37                        27
38                        28
39                        29
40                       NaN
41       admission_source_id
42                         1
43                         2
44                         3
45                         4
46                         5
47                         6
48                         7
49                         8
50                         9
51                        10
52                        11
53                        12
54                        13
55                        14
56                        15
57                        17
58                        18
59                        19
60                        20
61                        21
62                        22
63                        23
64                        24
65                        25
66                        26

                                          description
0                                           Emergency
1                                              Urgent
2                                            Elective
3                                             Newborn
4                                       Not Available
5                                                 NaN
6                                       Trauma Center
7                                          Not Mapped
8                                                 NaN
9                                         description
10                                 Discharged to home
11  Discharged/transferred to another short term h...
12                      Discharged/transferred to SNF
13                      Discharged/transferred to ICF
14  Discharged/transferred to another type of inpa...
15  Discharged/transferred to home with home healt...
16                                           Left AMA
17  Discharged/transferred to home under care of H...
18          Admitted as an inpatient to this hospital
19  Neonate discharged to another hospital for neo...
20                                            Expired
21  Still patient or expected to return for outpat...
22                                     Hospice / home
23                         Hospice / medical facility
24  Discharged/transferred within this institution...
25  Discharged/transferred/referred another instit...
26  Discharged/transferred/referred to this instit...
27                                                NaN
28           Expired at home. Medicaid only, hospice.
29  Expired in a medical facility. Medicaid only, ...
..                                                ...
37  Discharged/transferred to a federal health car...
38  Discharged/transferred/referred to a psychiatr...
39  Discharged/transferred to a Critical Access Ho...
40                                                NaN
41                                        description
42                                 Physician Referral
43                                    Clinic Referral
44                                       HMO Referral
45                           Transfer from a hospital
46     Transfer from a Skilled Nursing Facility (SNF)
47         Transfer from another health care facility
48                                     Emergency Room
49                              Court/Law Enforcement
50                                      Not Available
51              Transfer from critial access hospital
52                                    Normal Delivery
53                                 Premature Delivery
54                                          Sick Baby
55                                   Extramural Birth
56                                      Not Available
57                                                NaN
58           Transfer From Another Home Health Agency
59             Readmission to Same Home Health Agency
60                                         Not Mapped
61                                    Unknown/Invalid
62   Transfer from hospital inpt/same fac reslt in...
63                          Born inside this hospital
64                         Born outside this hospital
65            Transfer from Ambulatory Surgery Center
66                              Transfer from Hospice

[67 rows x 2 columns]>

In [19]:
data['readmitted'].tail

<bound method NDFrame.tail of 0          NO
1         >30
2          NO
3          NO
4          NO
5         >30
6          NO
7         >30
8          NO
9          NO
10        >30
11        <30
12        <30
13         NO
14        >30
15         NO
16        <30
17         NO
18        >30
19         NO
20         NO
21         NO
22         NO
23        >30
24         NO
25         NO
26         NO
27        >30
28        >30
29        >30
         ...
101736    >30
101737     NO
101738     NO
101739     NO
101740     NO
101741     NO
101742     NO
101743     NO
101744     NO
101745     NO
101746    <30
101747    >30
101748    >30
101749     NO
101750    <30
101751     NO
101752     NO
101753     NO
101754    >30
101755    >30
101756    >30
101757     NO
101758     NO
101759     NO
101760    >30
101761    >30
101762     NO
101763     NO
101764     NO
101765     NO
Name: readmitted, Length: 101766, dtype: object>

In [47]:
data = data.replace('?', np.nan)

In [83]:
total = data.isna().sum().sort_values(ascending=False)

weight                      98569
medical_specialty           49949
payer_code                  40256
race                         2273
diag_3                       1423
diag_2                        358
diag_1                         21
num_procedures                  0
max_glu_serum                   0
number_diagnoses                0
number_inpatient                0
number_emergency                0
number_outpatient               0
num_medications                 0
readmitted                      0
num_lab_procedures              0
diabetesMed                     0
time_in_hospital                0
admission_source_id             0
discharge_disposition_id        0
admission_type_id               0
age                             0
gender                          0
patient_nbr                     0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
change                          0
metformin-pioglitazone          0
metformin-rosiglitazone         0
glimepiride-pioglitazone        0
glipizide-metformin             0
glyburide-metformin             0
insulin                         0
citoglipton                     0
examide                         0
tolazamide                      0
troglitazone                    0
miglitol                        0
acarbose                        0
rosiglitazone                   0
pioglitazone                    0
tolbutamide                     0
glyburide                       0
glipizide                       0
acetohexamide                   0
glimepiride                     0
chlorpropamide                  0
encounter_id                    0
dtype: int64

In [ ]:
new_data = pd.merge(data, data2, on='admission_type_id', how='inner')